#carousel {
  margin: auto;
  width: 75%;
}

@media (max-width: 425px) {
  #carousel {
    width: 100%;
    font-size: 0.5rem;
  }
}

@media (max-width: 425px) {
  .carousel-caption h3 {
    font-size: 0.9rem;
  }
}

.carousel-item {
  height: 600px;
}

@media (max-width: 425px) {
  .carousel-item {
    height: 300px;
  }
}

.carousel-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(5, 27, 37, 0.3);
}

.jumbotron {
  background: linear-gradient(rgba(64, 86, 184, 0.85), rgba(64, 86, 184, 0.85)), url("https://www.supersportci.net/fr/wp-content/uploads/2020/03/w1240-p16x9-can-2019-coupe-algerie.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  border-top: 4px solid white;
}

img.d-block {
  height: 100%;
}

.container-results #result-news {
  margin-bottom: 10px;
}

.container-results #result-news .card {
  height: 320px;
  width: 35rem !important;
}

@media (max-width: 425px) {
  .container-results #result-news .card {
    width: 100% !important;
  }
}

.container-results #result-news .card .card-body .card-title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.container-results #result-news .card .card-body .card-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.container-results #result-news .card .card-image {
  height: 140px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.container-results #result-news .card:hover {
  cursor: pointer;
}

.container-results #result-news .card:hover .card-image {
  opacity: 0.8;
}

.container-results #result-news .card:hover .card-body h3,
.container-results #result-news .card:hover .card-body .card-description {
  text-decoration: underline;
}

.container-results #filters {
  background-color: antiquewhite;
  height: 80px;
  vertical-align: center;
  padding: 20px;
  margin-bottom: 30px;
}

.container-results .section-title {
  font-size: 2.8rem;
  line-height: 1.2;
  text-align: center;
  font-weight: 400;
  position: relative;
  padding-bottom: 15px;
  color: #535353;
  margin-bottom: 50px;
}

.container-results .section-title:after {
  content: "";
  position: absolute;
  width: 62px;
  height: 3px;
  background-image: linear-gradient(90deg, #693790, #24a9e1);
  border-radius: 5px;
  bottom: 0;
  left: calc(50% - 31px);
}

.results .jumbotron {
  background-repeat: no-repeat;
  background-size: cover;
}

.container-article #article {
  margin: 15px auto;
}

.container-article #article img {
  max-width: 100%;
}

.container-article #article .card {
  border: 0px;
  align-items: center;
}

.container-article #article .card .card-body .card-title {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 30px;
  line-height: 32px;
  margin-bottom: 1.5rem !important;
}

.container-article #article .card .card-body .card-description {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #1d1d1b;
}

.container-article .section-title {
  font-size: 2.8rem;
  line-height: 1.2;
  text-align: center;
  font-weight: 400;
  position: relative;
  padding-bottom: 15px;
  color: #535353;
  margin-bottom: 50px;
}

.container-article .section-title:after {
  content: "";
  position: absolute;
  width: 62px;
  height: 3px;
  background-image: linear-gradient(90deg, #693790, #24a9e1);
  border-radius: 5px;
  bottom: 0;
  left: calc(50% - 31px);
}

.header {
  font-size: 22px;
  color: #1d1d1b;
  border-bottom: #352f43 8px solid;
}

@media (max-width: 575px) {
  .header img {
    width: 180px !important;
  }
}

.footer {
  margin-top: 40px;
}

